<ion-header>
  <ion-toolbar>
    <div class="container">
      <ion-icon
        (click)="back()"
        name="arrow-back-outline"
        size="large"
        class="back"
      ></ion-icon>
      <ion-label class="label">Perfil</ion-label>
      <ion-icon class="save" name="save-outline" size="large"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> Perfil </ion-toolbar>
  </ion-header>
  <div class="content">
    <div class="account">
      @if (loaded) {
      <app-default-profile
        [imageUrl]="profile.data.user.photo"
        [fullName]="profile.data.user.name"
        (click)="selectphoto()"
      ></app-default-profile>
      }@else {
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      }
    </div>

    <div class="info">
      <ion-label
        >Informacion <br />
        personal</ion-label
      >
      <ion-label>Historial</ion-label>
    </div>

    <div class="infoPersonal">
      <ion-item>
        <ion-label> Nombre : </ion-label>
        <ion-label>
          @if(loaded){ {{profile.data.user.name}} } @if(!loaded){
          <p>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80%; height: 1em"
            ></ion-skeleton-text>
          </p>
          }
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Numero : </ion-label>
        <ion-label>
          @if(loaded){ {{profile.data.user.phone}} } @if(!loaded){
          <p>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80%; height: 1em"
            ></ion-skeleton-text>
          </p>
          }
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Rol : </ion-label>
        <ion-label> Barbero </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="button">
    <ion-button (click)="logout()" class="out">Cerrar seccion</ion-button>
  </div>
</ion-footer>
