<ion-header>
  <ion-toolbar>
    <div class="container">
      <ion-icon (click)="back()" name="arrow-back-outline" size="large" class="back"></ion-icon>
      <ion-label class="label">Perfil</ion-label>
      <ion-icon class="save" name="save-outline" size="large"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="account">
    @if (loaded) {
      <ion-img routerLink="/photo-profile" class="profile-img" [src]="profile.data.user.photo"></ion-img>
    }@else {
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
    }
  </div>

  <div class="info">
    <ion-label>Informacion <br>
        personal</ion-label>
    <ion-label>Historial</ion-label>
  </div>

  <div class="infoPersonal">
    <ion-item>
      <ion-label>
        Nombre :
      </ion-label>
      <ion-label>
        @if(loaded){
          {{perfil?.datum?.name}}
        }
        @if(!loaded){
          <p>
            <ion-skeleton-text [animated]="true" style="width: 80%; height: 1em;;"></ion-skeleton-text>
          </p>
        }
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Numero : 
      </ion-label>
      <ion-label>
        @if(loaded){
          {{perfil?.datum?.phone}}
        }
        @if(!loaded){
          <p>
            <ion-skeleton-text [animated]="true" style="width: 80%; height: 1em;;"></ion-skeleton-text>
          </p>
        }
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Rol : 
      </ion-label>
      <ion-label>
        Barbero
      </ion-label>
    </ion-item>
    
  </div>



<div class="button">
  <ion-button (click)="logout()" class="out">Cerrar seccion</ion-button>
</div>

  
</ion-content>
