<ion-header>
  <ion-toolbar>
    <div class="container">
      <ion-img class="logo" src="assets/logo.webp"></ion-img>
      <ion-label class="name">
        Bienvenido <br />
        @if(loaded){ {{profile.data.user.name}} } @if(!loaded){
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80%; height: 1em"
          ></ion-skeleton-text>
        </p>
        }
      </ion-label>
      <!-- EL componente recibe 4 parametros: 
            1- fullName: este debe ser un string
            2- imageUrl: debe ser string
            3- size: un number, esto es para darle el tamaño al componente
            4- backGroundColor: (OPCIONAL) un string, este es para darle el color de fondo al componente,
                si no se envia este parametro entonces el color aleatorio,
                se usa mas que todo para mostrar mientras se carga la imagen.
            
            Como los parametros name y photo viene de una consulta y esta tarda tiempo, 
            entonces toca verificar si este ya se cargo con el loaded, y si no entonces se muestra el mismo componente pero solo
            con el parametro size
      -->
      @if (loaded) {
      <app-default-profile [fullName]="profile.data.user.name" [imageUrl]="profile.data.user.photo" [size]="60"
        (click)="irPerfil()"></app-default-profile>
      }@else {
        <!-- Caso de uso, se muestra un circulo de color gris claro mientras se carga el img o el name -->
      <app-default-profile [size]="60" [background]="'#CDCDCD'"></app-default-profile>
      }

    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!--lista de cards de citas pendientes-->
  <!-- @if(loaded) {
  <ion-card class="cartas" *ngFor="let user of users">
    <ion-card-header>
      <ion-card-title>{{user.name}}</ion-card-title>
      <ion-card-subtitle>Fecha: {{date}}</ion-card-subtitle>
      <ion-card-subtitle>Hora: {{time}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="card-content">
      <div class="info">
        <ion-button class="aceptar" (click)="openShare()">Detalles</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  } -->
  @if(!loaded) { @for(item of ionContentList; track $index){
  <ion-list style="width: 100%; height: auto; padding: 4%">
    <ion-item>
      <ion-label>
        <h1>
          <ion-skeleton-text
            [animated]="true"
            style="width: 50%; height: 1.3rem"
          ></ion-skeleton-text>
        </h1>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%; height: 1.1rem"
          ></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%; height: 1.1rem"
          ></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="
              border-radius: 5px;
              width: 36%;
              height: 2.2rem;
              background-color: rgb(226, 226, 226);
              margin-left: 60%;
            "
          ></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  } }
  <div class="float">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="add">
      <ion-button (click)="elegirBarber()">
        <ion-icon  name="add"></ion-icon>
        <ion-label>agendar</ion-label>
      </ion-button>
    </ion-fab>
  </div>
  
</ion-content>

<ion-footer>
  <div class="toggles">
    <ion-button slot="fixed" fill="clear" size="large">
      <div class="foto">
        <ion-icon slot="icon-only" class="camera" name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </div>
    </ion-button>
    <ion-button  slot="fixed" fill="clear" size="large">
      <div class="image">
        <ion-icon slot="icon-only" class="galery" name="notifications"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </div>
    </ion-button>
  </div>
</ion-footer>
