body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribuir el espacio entre los elementos */
    ion-icon {
        width: 80px;
        height: 80px;
    }
    ion-img {
        width: 100px;
        height: 100px;
    }
}

.name {
    font-size: 17px;
    text-align: center;
    /* Centrar el texto */
    flex-grow: 1;
    /* Permitir que el label ocupe el espacio disponible */
}

ion-skeleton-text {
    --border-radius: 9999px;
    --background: rgba(188, 0, 255, 0.065);
    --background-rgb: 188, 0, 255;
}

.skeleton {
    --background: rgba(255, 0, 0, 0.065);
    --border-radius: 20px;
}

.cartas {
    background-color: #CDCDCD;
    border-radius: 15px;
    margin: 6% 6% 6% 6%;
}

.card-content {
    display: flex;
    justify-content: space-between; /* Distribuir espacio entre los elementos */
    align-items: center; /* Alinear los elementos verticalmente */
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Asegurar que el contenedor ocupe todo el ancho de la tarjeta */
    align-items: center; /* Alinear los elementos verticalmente */
}

.aceptar {
    margin-left: auto; /* Empujar el botón hacia la derecha */
    font-size: 18px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    text-transform: capitalize;
    --background: #2C2C2C;
}


