<ion-content>
  <!-- Boton Retroceso -->
  <ion-button
    size="large"
    fill="clear"
    shape="round"
    slot="fixed"
    [routerLink]="['../login']"
  >
    <ion-icon slot="icon-only" name="arrow-back" />
  </ion-button>
  <div class="content">
    <div class="secundario">
      <!-- Logo -->
      <ion-img src="assets/logo.webp" alt="logo" />

      <!-- Formulario -->
      <form [formGroup]="regisForm">
        <!-- Nombre Completo -->
        <ion-input
          formControlName="name"
          type="text"
          label="Nombre Completo"
          placeholder="Alex"
          labelPlacement="floating"
          fill="outline"
        />

        <!-- Email -->
        <ion-input
          formControlName="email"
          type="email"
          label="Email"
          placeholder="ejemplo@gmail.com"
          labelPlacement="floating"
          fill="outline"

        />

        <!-- WhatsApp -->
        <ion-input
          formControlName="phone"
          type="tel"
          label="WhatsApp"
          placeholder="3129992212"
          labelPlacement="floating"
          fill="outline"
          maxlength="10"
        />

        <!-- Contraseña -->
        <ion-input
          formControlName="password"
          type="password"
          label="Contraseña"
          placeholder="********"
          label-placement="floating"
          fill="outline"
          clearOnEdit="false"
          (ionInput)="onInput($event)"
        >
          <!-- Si la contraseña tiene un valor entonces se muestra el botón para que pueda hacerla visible -->
          @if (pass) {
            <ion-input-password-toggle color="medium" slot="end" />
          }
        </ion-input>

        <!-- Confirmar Contraseña -->
        <ion-input
          formControlName="password_confirmation"
          type="password"
          label="Confirmar contraseña"
          placeholder="********"
          labelPlacement="floating"
          fill="outline"
          clearOnEdit="false"
          (ionInput)="onInputConfirm($event)"
        >
          <!-- Si la contraseña tiene un valor entonces se muestra el botón para que pueda hacerla visible -->
          @if (pass_confirm) {
            <ion-input-password-toggle color="medium" slot="end" />
          }
        </ion-input>
      </form>

      <!-- Si el usuario presiona el botón de "Registrar", se activa el boton cargando, de lo contrario se muestra el botón "Registrar" -->
      <!-- Registrar -->
      <div class="registar">
        @if (isRegister) {
          <ion-button>
            <ion-spinner name="lines-small" />
          </ion-button>
        }@else {
          <ion-button [disabled]="regisForm.invalid" (click)="registrar()">
            Registrar
          </ion-button>
        }
      </div>
    </div>
  </div>
</ion-content>
