.avatar-image {
    border-radius: 50%;
    object-fit: cover;
  }
  .default-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    color: white;
    font-weight: bold;
    
  }

  