<ion-content>
  <div class="container">
    <div class="cerrar">
      <ion-icon name="close" (click)="close()"></ion-icon>
    </div>
    <div class="container-content-card">
      <h3>Nombre del cliente</h3>
      <img class="fotousuario" src="../../../assets/img-FrontEnd/foto de perfil.png" alt="Foto del usuario">
      <div class="datos-usuario">
        <p>Fecha: 26/09/2024</p>
        <p>Hora: 13:43 PM</p>
        <div class="servicios">
          <p>Servicio:</p>
          <div class="opciones-servicio">
            <ul>
              <li>Barba</li>
              <li>Taperfade</li>
              <li>Cejas</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="botones">
      <button id="acepto">Aceptar</button>
      <button id="rechazo">Rechazar</button>
    </div>
  </div>
</ion-content>