<ion-header>
  <ion-toolbar>
    <div class="bar">
      <ion-button
        (click)="closeModal()"
        shape="round"
        slot="fixed"
        fill="clear"
        size="large"
      >
        <ion-icon name="arrow-back-outline" slot="icon-only"> </ion-icon>
      </ion-button>
      <ion-title>Nombre del Barbero</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<div class="anotaciones">
  <ion-label> Anotaciones del cliente </ion-label>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur atque
    necessitatibus delectus cum harum deserunt
  </p>
</div>

<ion-label class="text"> Servicios </ion-label>

<ion-content>
  <div class="service">
    <ion-list>
      @if(loaded){
        <ion-item *ngFor="let service of services.services">
          <ion-label> {{service.name}}
            <ion-label class="price">{{service.price}}</ion-label>
          </ion-label>
          <ion-toggle mode="ios" slot="end"></ion-toggle>
        </ion-item>
      }@else {
        <ion-skeleton-text
        [animated]="true"
        style="width: 80%; height: 1em"
      ></ion-skeleton-text>
      }
    </ion-list>
  </div>

  <div class="buy">
    <ion-label class="buyto"> TOTAL A PAGAR : </ion-label>
    <div class="dinner">
      <ion-label>25.000</ion-label>
    </div>
  </div>

  <div class="swipe">
    <app-swipe-button> </app-swipe-button>
  </div>
</ion-content>
