<ion-content>
  <div class="container">
    <div class="PrimeraParte">
      <h3>Ingresa el código de verificación enviado a tu correo</h3>
      <p>{{email?.datum?.email}}</p>
    </div>
    <div class="SegundaParte">
      <form [formGroup]="verifyForm">
        <p-inputOtp formControlName="code" [length]="6" style="gap: 4">
        </p-inputOtp>
      </form>
    </div>
    <div class="opciones">
      <ion-note>
        ¿No has recibido el código?
        <ion-text color="primary" class="reenviar-codigo" (click)="resendCode()">
          Reenviar código 
        </ion-text>
      </ion-note>
      <ion-button (click)="verificar()" class="Confirmar" color="medium" style="width: 70%;;">Siguiente</ion-button>
    </div>
  </div>
</ion-content>