.search{
    padding-top: 10%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 15px;
}
.text{
    padding-top: 8%;
    padding-left: 5%;
    font-size: 19px;
}
.cartas{
    padding-top: 6%;
    padding-left: 4%;
    padding-right: 4%;
}

.cartas-content{
    border-radius: 16px;
}
.modal{
    margin: auto;
}

.elige{
    padding-left: 70%;
    font-size: 18px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    text-transform: capitalize;
    --background: #2C2C2C;
}

.info{
    padding-top: 10%;
    padding-left: 6%;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
}